//- Created by  RD-小小WEB on 2016/1/22.
doctype html
html
    head
        meta(charset='UTF-8')
        title 个人中心
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='format-detection', content='telephone=no')
        meta(name='renderer', content='webkit')
        meta(http-equiv='Cache-Control', content='no-siteapp')
        link(rel='stylesheet', href='#{staticUrl}/css/amazeui.css')
        link(rel='stylesheet', href='#{staticUrl}/css/style.css?time=125')
    body
        block content
        if (devHost)
            script(src='#{devHost}:8080/app.js')
        else if (env == 'env')
            script(src='/js/admin/app.js')
        else
            script(src='#{staticUrl}/js/admin/app.js?time=127')


