//- 加载前端模块
.bottom
    .content
        | Copyright©2016 | 沪ICP备15026479号-1 | xiaoweb.cn 版权所有 小小相册
if model
    script
        |require([
        each val, i in model
            | '#{val}'
            if i < model.length - 1
                |,
        | ])